body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    margin: 0 auto;
}

#p5_loading {
    opacity: 0;
}

canvas {
    transition: transform 0.01s;
}

.bass {
    transform: scale(1.01);
}

#play-btn {
    display: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gill Sans';
    letter-spacing: 2px;
    font-size: 1.4em;
    opacity: 0.8;
}
